version: "3.8"

services:
    moportfolio:
        image: gheith3/moportfolio:latest
        container_name: moportfolio
        restart: unless-stopped
        ports:
            - "7085:80"
        volumes:
            - /apps/moportfolio/storage:/var/www/html/storage
            - /apps/moportfolio/database.sqlite:/var/www/html/database/database.sqlite
        environment:
            - APP_NAME=Mo Portfolio
            - APP_ENV=production
            - APP_DEBUG=false
            - APP_KEY=base64:7bXO9JdQek0klLQTUBXYT0zhwGJIf5YUYkc5bXeftQU=
            - DB_CONNECTION=sqlite
            - DB_DATABASE=/var/www/html/database/database.sqlite
            - CACHE_DRIVER=file
            - SESSION_DRIVER=file
            - QUEUE_CONNECTION=sync
        networks:
            - moportfolio-network

networks:
    moportfolio-network:
        driver: bridge
